@font-face {
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/spacemono/v17/i7dPIFZifjKcF5UAWdDRYE58RWq7.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

html {
	font-family: "Space Mono", monospace;
	--color: #e0e0e0;
	--primary: #d54444;
	--big-text: 30px;
	--medium-text: 26px;
	--small-text: 20px;
}

body {
	background-color: #20202f;
	color: var(--color);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.content {
	min-width: min(90%, 400px);
	max-width: min(90%, 400px);
}

h1 {
	margin: 40px 0;
	font-size: var(--big-text);
}

h2 {
	font-weight: 500;
	font-size: var(--medium-text);
	margin-bottom: 0;
}

ul {
	list-style: square;
	padding: 20px;
	margin-top: 0;
}

li::marker {
	color: var(--primary);
	border: 0;
}

a {
	color: var(--color);
	text-transform: lowercase;
	font-size: var(--small-text);
	text-decoration: double;
}

a:hover {
	border-bottom: 1px solid var(--primary);
}

p {
	max-width: 100%;
	overflow: hidden;
	margin-top: 8px;
}

.titleContainer {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.square {
	width: var(--big-text);
	height: var(--big-text);
	background-color: var(--primary);
	margin-right: 14px;
	transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.square:hover {
	border-radius: 50%;
}